### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-files
*.bclicense
*.flf
#Test results file
TestResults.xml
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
.env
mlruns/
artifacts/
data/raw/
data/processed/
.DS_Store
# Kaggle specific files
kaggle.json
# Prometheus data directories
prometheus_data/
prometheus_data/wal
prometheus_data/chunks_head
prometheus_data/queries.active
prometheus_data/
mlruns/
__pycache__/
*.pyc
.env
mlflow.db
mlartifacts/1
kaggle.json
Workflow-CI
Workflow-CI/artifacts
.vscode
mlartifacts
*_confusion_matrix.png
DecisionTree.pkl
GaussianNB.pkl
LogisticRegression.pkl
RandomForest.pkl
XGBoost.pkl