__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
.env
mlruns/
artifacts/
data/raw/
data/processed/
.DS_Store
# Kaggle specific files
kaggle.json
# Prometheus data directories
prometheus_data/
prometheus_data/wal
prometheus_data/chunks_head
prometheus_data/queries.active